
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  background-color: #30B868;
  text-decoration: none;
  border:none;
  padding: 12px 16px;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: semi-bold;


}

header  {

}

nav{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 16px 120px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 24px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.color-g{
    color: #30B868;

}
.banner{
    width: 100%;
    height: 630px;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.banner-content{
    padding:70px 120px 134px;
    color: #fff;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    
}
.banner-btn{
    padding: 16px 120px ;
    height: 379px;
    width: 1355px;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.banner-content h1{
    font-size: 73px;
    position: relative;
    
}
.banner p{
    font-size:18px;
    padding: 16px;
    gap:16px;
    line-height:24px;
    
}
.banner-text{
    padding: 45.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.t{
    background: white;
    color: #2f855a;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}

.b1{
    background-color: #30B868;
    border:none;
    padding: 12px 16px;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semi-bold;
}
.b2{
    background-color: transparent;
    border:1px white solid;
    padding: 12px 16px;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semi-bold;
}
